@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #6ee7b7;
  font-family: "Indie Flower", cursive;
}

input {
  padding: 1rem;
  width: 75%;
  border-radius: 1rem;
  height: 4vh;
}
